<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eko8757.footballclubfinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.myactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.myactivity.detail_event.DetailActivityEvent">
        </activity>
        <activity
            android:name=".ui.myactivity.detail_player.DetailActivityPlayer"
            android:parentActivityName=".ui.myactivity.detail_team.DetailActivityTeam">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.myactivity.detail_team.DetailActivityTeam"/>
        </activity>
        <activity
            android:name=".ui.myactivity.detail_team.DetailActivityTeam">
        </activity>
    </application>

</manifest>